{
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["node_modules", "src"],
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["react-app", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["react"]
}
